/* Global variables */
:root {

}

/* Styles for overall page */

html {

}

body {

}

header {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(7,1fr);
  /*grid-template-columns: 20% 20% 20% 20% 20%;*/
  grid-column-gap: 25px;
  grid-template-rows: repeat(1,10vh);
}

#logo {
  display: grid;
  align-self: end;
  align-items: end;
  font-family: 'Oswald', sans-serif;
  font-size: 32pt;
  line-height: 100%;

}

.heading {
  display: grid;
  align-self: end;
  align-items: end;
  font-family: 'Oswald', sans-serif;
  font-size: 20pt;
  font-weight: lighter;
  line-height: 100%;
}

#profPic {
  max-height: 100%;
  max-width: 100%;
}

main {

}
