body {
  --num-shows-in-slider-window: 5;
  --show-img-width: 150px;
  --show-img-hor-margins: 5px;
  --show-container-width: calc(var(--show-img-width) + 2 * var(--show-img-hor-margins));
  --show-container-hor-margins: 5px;
  --carousel-show-container-width: calc(var(--num-shows-in-slider-window) * (2 * var(--show-container-hor-margins) + var(--show-container-width)));
  --carousel-button-width: 30px;
  --carousel-height: 250px;
  --translation-time: .3s;
  --add-btn-diameter: 50px;

  display: grid;
  grid-template-rows: var(--nav-bar-height) 1fr;
  grid-template-columns: var(--filter-bar-width) 1fr;

  background-color: var(--color-super-light-gray);
}

body #navbar {
  grid-row: 1/2;
  grid-column: 1/3;
}

body #filter {
  grid-row: 2/3;
  grid-column: 1/2;
}

body main {
  grid-row: 2/3;
  grid-column: 2/3;

  font-family: 'Oswald', sans-serif;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: scroll;

  position: relative;
}

.airing-show-display {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: calc(2 * var(--carousel-button-width) + var(--carousel-show-container-width));

  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: var(--color-white);
  border-radius: 4px;

  overflow: hidden;
}

.carousel {
  display: grid;
  grid-template-columns: var(--carousel-button-width) 1fr var(--carousel-button-width);

  height: var(--carousel-height);
  width: calc(2 * var(--carousel-button-width) + var(--carousel-show-container-width));
}

.carousel-button {
  color: var(--color-white);
  background-color: var(--color-dark-gray);

  height: var(--carousel-height);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-size: 32px;

  z-index: 2;
}

.carousel-button:hover {
  cursor: pointer;
  background-color: var(--color-gray);
}

.carousel-show-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: var(--carousel-show-container-width);

  z-index: 1;
}

.airing-show-container {
  margin-left: var(--show-container-hor-margins);
  margin-right: var(--show-container-hor-margins);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa.add-btn-caret {
  padding: 0px;
  margin-left: 5px;
}

.add-btn {
  border-radius: 4px;
  background-color: var(--color-white);

  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 15px;
  font-family: 'Oswald', sans-serif;

  outline: none;
}

/* plus button for each show */
.fa.add-btn {
  /* hackiest fix ever to the thick white bordering around the plus button */
  font-size: calc(var(--add-btn-diameter)/1.35);
  height: calc(var(--add-btn-diameter)/1.4);
  width: calc(var(--add-btn-diameter)/1.4);
  text-align: center;
  background-color: var(--color-white); /* white by default */
  opacity: 0.9;
  border-radius: 50px; /* another hacky fix...; this gets rid of the square background of the plus button */
}

/* section that contains the plus button */
.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: var(--color-navy-blue);
  position: relative;
  top: -218px; /* hacky plus button positioning */
  left: 54px; /* hacky plus button positioning */
}

.dropdown:hover {
  color: var(--color-steel-blue);
}

.dropdown-menu {
  display: flex;
  flex-direction: column;

  /* have a fixed with to prevent distracting changes with list options */
  width: 150px;

  padding: 0px;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;

  /* have a fixed with to prevent distracting changes with list options */
  width: 150px;
  overflow-y: auto;
  max-height: 200px;
  padding: 0px;
}

.dropdown-list-btn {
  min-height: 40px;
}

.dropdown-list-container {
  display: grid;
  grid-template-rows: repeat(var(--num-sections), 1fr);
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: start;
  font-weight: 200;
  padding-left: 13px;
}

.dropdown-list-container.gone {
  display: none;
}

.dropdown-menu.confirmation-message {
  /* avoid awkward whitespace in the confirmation message */
  width: auto;
  font-size: 20px;
  padding: 20px;
  border: 1px solid var(--color-gray);
  border-right: 3px solid var(--color-gray);
  border-bottom: 3px solid var(--color-gray);
  background-color: var(--color-super-light-gray);
  /*font-family: 'Helvetica', 'Georgia', 'Times New Roman';*/
}

.show-img {
  width: var(--show-img-width);

  margin: 5px;
  margin-left: var(--show-img-hor-margins);
  margin-right: var(--show-img-hor-margins);

  box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 2px;

  cursor: pointer;
  z-index: -1;
}

.dropdown-menu {
  position: absolute;

  z-index: 3;

  background-color: var(--color-white);
  border: 1px solid var(--color-black);

  padding: 5px;
  border-radius: 4px;
}

.list-input-section {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 40% 60%;
  justify-items: start;
  align-items: start;
  box-sizing: border-box;
}

select {
  width: 100%;
  /*overflow: ellipsis;
  text-overflow: ellipsis;*/
  /*padding-right: 40px;*/
}

i.fa {
  pointer-events: none;
}

@keyframes moveleft {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(calc(-1 * var(--carousel-show-container-width)));
  }
}

.move-left-animation {
  animation: var(--translation-time) moveleft linear;
}

@keyframes moveright {
  from {
    transform: translateX(calc(-1 * var(--carousel-show-container-width)));
  }
  to {
    transform: translateX(0px));
  }
}

.move-right-animation {
  animation: var(--translation-time) moveright linear;
}
