/* Fixed sidenav, full height */

#filter {
  color: var(--color-dark-midnight-blue);
  margin: 20px;
  background-color: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 1px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  align-self: start;
  max-height: 85vh;
  overflow: hidden;
}


/* Sidenav links and dropdown button */

#filter-bot a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: var(--color-dark-midnight-blue);
  display: block;
  border: none;
  background: none;
  border-left: None;
  border-right: None;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);

  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

#filter button {
  outline: none;
}

#filter-top {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  align-content: center;
  grid-template-rows: repeat(1, 1fr);
  border: none;
  background: none;
  text-align: left;

  background-color: var(--color-white);
  position: sticky;
  top: 0;
  overflow: hidden, !important;
  outline: none;
}

#filter-bot {
  overflow: auto;
  max-height: 75vh;
}

.filter-checkbox {
  margin-right: 5px;
}

#filter-content {
  overflow: auto, !important;
}

#filter-title h1 {
  text-decoration: none;
  font-size: 20px;
  color: var(--color-dark-midnight-blue);
  display: block;
  border: none;
  background: none;
  text-align: left;
  cursor: default;
  outline: none;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  line-height: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
}

#filter-button {
  text-decoration: none;
  font-size: 20px;
  display: block;
  border: none;
  background-color: var(--color-gray);
  border-radius: var(--corner-radius);
  text-align: center;
  cursor: pointer;
  outline: none;

  background-color: var(--color-navy-blue);
  color: var(--color-white);
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

#filter-button:hover {
  background-color: var(--color-sky-blue);
}


/* Active class to help indicate open dropdowns */

.active {
  border-bottom: 0px;
}


/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */

.dropdown-container {
  display: none;
  background-color: var(--color-white);
  padding-left: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  padding-bottom: 5px;
}


/* Push the caret to the right and add padding */

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

#rating-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
}

#rating-container.gone {
  display: none;
}

#genre-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
}

#genre-container.gone {
  display: none;
}

#list-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
}

#list-container.gone {
  display: none;
}

#status-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
}

#status-container.gone {
  display: none;
}