body {
  --list-btn-height: 40px;
  --main-top-bot-padding: 20px;
  --column-guide-height: 35px;
  --given-list-btn-height: 30px;
  --shows-section-height: calc(100vh - var(--nav-bar-height) - var(--list-btn-height) - var(--column-guide-height) - var(--given-list-btn-height) - 4 * var(--main-top-bot-padding) - 12px);
  
  position: relative;
  
  display: grid;
  grid-template-rows: var(--nav-bar-height) 1fr;

  background-color: var(--color-super-light-gray);
}

body #navbar {
  grid-row: 1/2;
  grid-column: 1/2;
}

body main {
  grid-row: 2/3;
  grid-column: 1/2;
  justify-self: center;
  
  display: grid;
  grid-template-rows: var(--list-btn-height) 1fr;
  
  width: 80%;
  
  margin-top: 20px;
  margin-bottom: 20px;
}

#list-btns-section {
  display: flex;
  flex-direction: row;
}

.list-btns-btn {
  position: relative;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  
  background-color: var(--color-white);
  
  padding-left: 10px;
  padding-right: 10px;
  
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  
  box-shadow: rgba(0,0,0,0.2) 0px 0px 1px;
  border: 1px solid rgba(0,0,0,0.15);
  
  margin-bottom: -1px;  
  
  cursor: pointer;
}

.tab-blocker {
  position: absolute;
  top: 100%;
  left: 0%;
  
  width: 100%;
  height: 3px;
  
  background-color: var(--color-white);
  
  z-index: 10;
  
  cursor: default;
}

.tab-blocker.not-blocking {
  display: none;
}

#list-section {
  background-color: var(--color-white);
  
  padding: 20px;
  
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  
  box-shadow: rgba(0,0,0,0.2) 0px 1px 1px;
  border: 1px solid rgba(0,0,0,0.15);
  
  display: grid;
  grid-template-rows: 35px 1fr 30px;
  grid-auto-columns: 100%;
  justify-items: center;
  
  width: calc(100% - 40px);
}

#column-guide {
  display: flex;
  flex-direction: row;
}

.column-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
    
  padding-left: 10px;
  padding-right: 10px;
  
  border: 1px solid var(--color-black);
  border-right: none;
}

#column-header-first {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#column-header-last {
  border-right: 1px solid var(--color-black);
  
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#shows-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  height: var(--shows-section-height);
  width: 100%;
  
  margin-top: 10px;
  
  overflow: scroll;
}

#main-bar {
  display: grid;
  grid-template-columns: 1fr 50px;
  align-items: center;
  justify-items: center;
  
  width: 80%;
  height: 50px;
  min-height: 50px;
  
  border-radius: 4px;
  border: 1px solid var(--color-black);
}

.header-bar {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  align-items: center;
  justify-items: center;
  
  width: 70%;
  height: 50px;
  min-height: 50px;
  
  border: 1px solid var(--color-black);
}

.fa.header-bar-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
  cursor: pointer;
  padding: 0px;
  
  width: 100%;
  height: 100%;
}

.show-bar {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 2fr 2fr 75px 1fr;
  align-items: center;
  justify-items: center;
  
  width: 60%;
  height: 50px;
  min-height: 50px;
  
  border: 1px solid var(--color-black);
  border-top: none;
}

.show-bar-progress {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  
  width: 100%;
}

.fa.fa-bars {
  cursor: -webkit-grab;
}

.left-align {
  justify-self: left;
}

#given-list-btns {
  display: grid;
  grid-template-columns: 100px 1fr 100px;

  width: 100%
}

.given-list-btn {
  cursor: pointer;
}

#delete-btn {
  grid-column: 1/2;
}

#stats-btn {
  grid-column: 3/4;
}

#add-list-modal {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  
  width: 300px;
  height: 150px;
  
  background-color: var(--color-silver);
  border: 1px solid var(--color-black);
  
  display: grid;
  grid-template-rows: 1fr 30px;
  grid-template-columns: 75px 1fr 75px;
  align-items: center;
  
  padding: 20px;
}

#modal-name-section {
  grid-row: 1/2;
  grid-column: 1/4;
  
  display: flex;
  flex-direction: row;
  
  height: 30px;
}

#modal-name-input {
  margin-left: 10px;
}

#modal-submit-btn {
  grid-row: 2/3;
  grid-column: 1/2;
}

#modal-cancel-btn {
  grid-row: 2/3;
  grid-column: 3/4;
}
