header {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: var(--filter-bar-width) 4fr 2fr 1fr;
  grid-template-rows: var(--nav-bar-height);
  background-color: var(--color-navy-blue);
  font-family: 'Oswald', sans-serif;
}

#nav-links {
  display: grid;
  justify-self: left;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  height: 100%;
}

header #logo {
  align-self: end;
  font-size: 32pt;
  cursor: default;
  color: var(--color-white);
}

#logo a {
  text-decoration: none;  
  color: var(--color-white);
}

header .navlink {
  display: grid;
  align-self: end;
  align-items: end;
  justify-items: center;
  font-size: 20pt;
  font-weight: lighter;
  height: 100%;
  width: 100%;
  padding-bottom: 8px;
  text-decoration: none;
  color: var(--color-white);
}

header .navlink:hover {
  cursor: pointer;
  background-color: var(--color-sky-blue);
}

.active-page {
  background-color: var(--color-light-midnight-blue);
}

header #profPic {
  max-height: calc(var(--nav-bar-height) * 2 / 3);
  text-align: center;
  padding: 0px;
  border-radius: var(--corner-radius);
}

header #navsearch {
  margin-top: 8px;
  font-size: 12pt;
  width: 90%;
  font-weight: lighter;
  margin-bottom: 8px;
  text-decoration: none;
  border-style: solid;
  border: none;
  padding-left: 5px;
  border-radius: var(--corner-radius);
  outline: none;
  
  font-family: 'Oswald', sans-serif;
}

#searchdiv {
  justify-self: start;
  width: 100%;
}

.glass {
  color: var(--color-black);
  position: relative;
  left: -20px;
}

#profile-caret {
  padding: 0px;
  margin-left: 5px;
  color: white;
}

#profile-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  background-color: transparent;
  border: none;
}
